<header id="non-home">
  <div class="layerBack">
    <div class="navWrap">
      <div class = "navBar" ng-include="'/views/navBar.html'"></div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <md-content id="add-group" layout-padding>
      <div id="add-group-banner" layout-gt-sm="row">
        <h1 id="add-group-title">Expand The Network</h1>
        <!-- <p>Add A Group</p> -->
      </div>
      <form name="form">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label class="md-required">Group Name</label>
          <input required name="groupName" ng-model="groupName">
        </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>URL</label>
        <input required ng-model="groupURL">
      </md-input-container>
    </div>


      <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-xs>
        <label>Contact Name</label>
        <input required ng-model="contactName">
      </md-input-container>

      <md-input-container  class="md-block" flex-gt-sm>
        <label>Contact Email</label>
        <input required ng-model="contactEmail" type="email">
      </md-input-container>

    </div>

    <div layout-gt-sm="row">
      <md-input-container  class="md-block" flex-gt-sm>
        <label>Group Description</label>
        <textarea required ng-model="description" md-placeholder="Description"></textarea>
       </md-input-container>
    </div>

    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Location</label>
        <md-select required ng-model="location">
        <md-option ng-repeat="option in locations" value="{{option}}">{{option}}</md-option>
        </md-select>
      </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Activities</label>
          <md-select ng-model="activities">
          <md-option ng-repeat="option in activityList" value="{{option}}">{{option}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-chips ng-model="ctrl.selectedTech" md-autocomplete-snap
          md-transform-chip="ctrl.transformChip($chip)"
          md-require-match="ctrl.autocompleteDemoRequireMatch">
        <md-autocomplete
          md-selected-item="ctrl.selectedItem"
          md-search-text="ctrl.searchText"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.name"
          placeholder="Add A Technology Tag">
          <span md-highlight-text="ctrl.searchText">{{item.Technologies}} {{item.Skills}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip.Technologies}}</strong>
          </span>
        </md-chip-template>
      </md-chips>


      <md-chips ng-model="ctrl.roTagNames" name="tagName" readonly="ctrl.readonly" md-max-chips="5" placeholder="Add A Descriptive Tag" secondary-placeholder="New Tag">>
        <md-chip-template>
          <strong>{{$chip}}</strong>
        </md-chip-template>
      </md-chips>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Affiliations</label>
            <input ng-model="affiliations">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Affilation URL</label>
            <input name="affiliationURL" ng-model="affiliationURL">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Membership Size</label>
            <md-select ng-model="sizeOfMembership">
            <md-option ng-repeat="size in membershipSizes" value="{{size}}">{{size}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Meeting Frequency</label>
            <md-select ng-model="freqOfMeeting">
            <md-option ng-repeat="option in meetingFreq" value="{{option}}">{{option}}</md-option>
          </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Typical Meeting Size</label>
            <md-select required ng-model="sizeOfMeeting">
            <md-option ng-repeat="option in meetingSizes" value="{{option}}">{{option}}</md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
            <md-input-container flex-gt-sm>
              <md-button class="md-primary md-raised" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
            ngf-accept="'image/*'" ngf-max-size="2MB"
            >Select An Image</md-button>
            <span>{{file.$ngfName}}</span>
            </md-input-container>
          </div>

          <md-button class="md-primary md-raised" type="button" name="button" ng-click=submit() >Submit Group</md-button>
        </div>
        </form>
      </md-content>
    </div>
  </div>
