<header id="non-home">
  <div class="layerBack">
    <div class="navWrap">
      <div class = "navBar" ng-include="'/views/navBar.html'"></div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2 class="admin-title">Groups Awaiting Approval: </h2>

      <div class="row">
        <div ng-repeat="group in groups" class="col-sm-6">

          <md-card class="admin-card">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{group.name}}</span>
                <span class="md-subhead">Contact: {{group.groupContact}}</span>
                <span class="md-subhead">Location: {{group.location}}</span>
                <span class="md-subhead">Typical Meeting Size: {{group.sizeOfMeeting}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary admin-link"><a ng-href="/#/groups/{{group.name}}">View Group Page</a></md-button>
              <md-button class="md-fab md-success" aria-label="" ng-click="approve(group._id, $index)"><i class="fa fa-check" aria-hidden="true"></i></md-button>
              <md-button class="md-fab md-warn" ng-click="delete(group._id, $index, 'approval')"><i class="fa fa-times" aria-hidden="true"></i></md-button>
            </md-card-actions>
          </md-card>

        </div>
      </div>

      <h2 class="admin-title">Flagged Groups: </h2>

      <div class="row">
        <div ng-repeat="group in flaggedGroups" class="col-sm-6">

          <md-card class="admin-card">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{group.name}}</span>
                <span class="md-subhead">Contact: {{group.groupContact}}</span>
                <span class="md-subhead">Flags: {{group.flags}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary admin-link"><a ng-href="/#/groups/{{group.name}}">View Group Page</a></md-button>
              <md-button class="md-fab md-success" aria-label="" ng-click="unFlag(group._id, $index)"><i class="fa fa-check" aria-hidden="true"></i></md-button>
              <md-button class="md-fab md-warn" ng-click="delete(group._id, $index, 'flagged')"><i class="fa fa-times" aria-hidden="true"></i></md-button>
            </md-card-actions>
          </md-card>

        </div>
      </div>

    </div>
  </div>
</div>
