<header id="non-home">
  <div class="layerBack">
    <div class="navWrap">
      <div class = "navBar" ng-include="'/views/navBar.html'"></div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">


      <md-card>
        <h2 class="admin-title">Groups Awaiting Approval: </h2>
      </md-card>

      <div class="row">
        <div ng-repeat="group in groups" class="col-sm-6">

          <md-card class="admin-card">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{group.name}}</span>
                <span class="md-subhead">Contact: {{group.groupContact}}</span>
                <span class="md-subhead">Location: {{group.location}}</span>
                <span class="md-subhead">Typical Meeting Size: {{group.sizeOfMeeting}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary admin-link"><a ng-href="/#/groups/{{group.name}}">Preview Group Page</a></md-button>
              <div class="dialog-demo-content">
                <md-button class="md-fab md-success" aria-label="" ng-click="showConfirm($event, 'Approve', 'approve', group._id, $index)"><i class="fa fa-check" aria-hidden="true"></i></md-button>
                <md-button class="md-fab md-warn" ng-click="showConfirm($event, 'deleteApprove', 'delete', group._id, $index)"><i class="fa fa-times" aria-hidden="true"></i></md-button>
              </div>
            </md-card-actions>
          </md-card>

        </div>
        <h3 ng-hide="groups">No groups are currently awaiting approval.</h3>
      </div>

      <md-card>
        <h2 class="admin-title">Flagged Groups: </h2>
      </md-card>

      <div class="row">
        <div ng-repeat="group in flaggedGroups" class="col-sm-6">

          <md-card class="admin-card">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{group.name}}</span>
                <span class="md-subhead">Contact: {{group.groupContact}}</span>
                <span class="md-subhead">Flags: {{group.flags}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised md-primary admin-link"><a ng-href="/#/groups/{{group.name}}">View Group Page</a></md-button>
              <md-button class="md-fab md-success" aria-label="" ng-click="showConfirm($event, 'unFlagGroup', 'remove the flags on', group._id, $index)"><i class="fa fa-check" aria-hidden="true"></i></md-button>
              <md-button class="md-fab md-warn" ng-click="showConfirm($event, 'deleteFlag', 'delete', group._id, $index)"><i class="fa fa-times" aria-hidden="true"></i></md-button>
            </md-card-actions>
          </md-card>

        </div>
        <!-- {{flaggedGroups}}
        <h3 ng-hide="flaggedGroups">No groups are currently flagged.</h3> -->
      </div>

    </div>
  </div>
</div>
