<!-- <body> -->
<div>

<!-- <form class="form-horizontal" action="/test" type="post">
<fieldset>
<!Form Name -->
<legend>New Group Submission Form</legend>
<!-- Text input-->
<div class="row">
  <div class="form-group">
  <label class="col-md-4 control-label" for="groupNameIn"> Group Name </label>
  <div class="col-md-4">
  <input id="groupNameIn" ng-model="groupNameIn" name="groupNameIn" type="text" placeholder="Group Name" class="form-control input-md" required="">
  </div>
</div>
</div>


<!-- Text input-->
<div class="row">
<div class="form-group">
  <label class="col-md-4 control-label" for="contactNameIn">Contact Name</label>
  <div class="col-md-4">
  <input id="contactNameIn" ng-model="contactNameIn" name="contactNameIn" type="text" placeholder="Name" class="form-control input-md" required="">
  </div>
  </div>
</div>

<!-- Text input-->
<div class="row">
<div class="form-group">
  <label class="col-md-4 control-label" for="contactEmail">Contact's Email: </label>
  <div class="col-md-4">
  <input id="contactEmail" ng-model="contactEmail" name="contactEmail" type="text" placeholder="Contact Email" class="form-control input-md" required="">
  </div>
</div>
</div>
<!-- Text input-->
<div class="row">
  <div class="form-group">
  <label class="col-md-4 control-label" for="description">Brief Description</label>
  <div class="col-md-4">
  <input id="description" ng-model="description" name="description" textarea rows="4" cols="50" placeholder="Description" class="form-control input-md" required="">
  </div>
</div>
</div>


<!-- Text input-->
<div class="row">
<div class="form-group">
  <label class="col-md-4 control-label" for="groupUrlIn">Group URL</label>
  <div class="col-md-4">
  <input id="groupUrlIn" ng-model="groupUrlIn" name="groupUrlIn" type="text" placeholder="URL" class="form-control input-md" required="">
  </div>
</div>
</div>

<button type="button" name="button" ng-click=submit() >Submit Group</button>
</fieldset>
</form>
</div>

<div class="displayGroup">
  <div class="jumbotron vertical-center">
    <div class="container-fluid text-center">
     <div class="row">
      <div class=".col-md-4>
       <div class="top-bg"></div>
       <div class="col-md-5 iPhone-features text-center" ng-repeat="record in groups">
       <h1>{{ record.groupName }}</h1>
          <ul class="top-features">
              <span><i class="simple_bg top-features-bg"></i></span>
              <p><strong>Tech Tags</strong><br> record.tag {{  record.tag  }} </p>

              <span><i class="simple_bg top-features-bg"></i></span>
              <p><strong>Description</strong><br> {{ record.description }}</p>

              <span><i class="simple_bg top-features-bg"></i></span>
              <p><strong>Meetings</strong><br> {{7:00pm the third Thursday of the month</p>

              <span><i class="simple_bg top-features-bg"></i></span>
              <p><strong>Contact This Group</strong><br>Contact Info Here</p>

            <a href="pricing-and-signup.html" class="btn-primary btn h2 lightBlue get-Started-btn">Go to Group website</a>
            <h6 class="get-Started-sub-btn"></h6>
          </ul>
         </div>
        </div>
      </div>
    </div>

  </div>
Group Picture
Group Name
Description


</div>

<div class="yourGroup">
  <table>
  <thead>
   <tr>
     <th>Name</th>
     <th>URL</th>
     <th>Contact</th>
   </tr>
 </thead>
 <tbody>
   <tr ng-repeat="record in groups">

     <td></td>
     <td>{{ record.groupURL }}</td>
     <td>{{ record.groupContact }}</td>
     <td> <input type="button" value="Remove" class="btn btn-primary" ng-click = "banana($index);"/> </td>
   </tr>
 </tbody>
</table>
</div>
<!-- </body> -->
