<header id="non-home">
  <div class="layerBack">
    <div class="navWrap">
      <div class = "navBar" ng-include="'/views/navBar.html'"></div>
    </div>
  </div>
</header>

<h3 id="preview-tag" ng-hide="group.approved">Group View - Preview Mode</h3>

<div class="group-container" vertical>
  <div class="text-center" name="home">

    <div id="group-jumbo" class="jumbotron intro-text">
      <div class="layerBackGroup">
        <img ng-src="{{titleImage}}" class="header-image" />
        <h1 id="group-name"><span class="color">{{group.name}}</span></h1>
        <div class="clearfix"></div>
      </div>
    <!-- <a href="#groupURL" class="btn btn-default btn-lg page-scroll">{{group.groupURL}}</a> </div> -->
  </div>
</div>
</div>

<!-- About Section -->
<!-- <div id="about-section">
  <div class="container">
    <div class="section-title">
      <h2>About Us</h2>
      <hr>
    </div> -->

    <div class="space"></div>
    <div class="row">
      <div class="col-md-4">
        <md-card class="group-card">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Who We Are</span>
              <!-- <span class="md-subhead">{{group.name}}</span> -->
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>Website:<a ng-href="{{group.groupURL}}"> {{group.groupURL}}</a></p>
            <p>Description: {{group.description}}</p>
            <p>Group Contact: {{group.groupContact}}</p>
            <p>Email: {{group.contactEmail}}</p>
            <p ng-hide="group.affiliations == null">Affiliations: {{group.affiliations}}</p>
            <p ng-hide="group.affiliationURL == null">Affiliation : {{group.affiliationURL}}</p>
          </md-card-content>
        </md-card>

      </div>

      <div class="col-md-4">
        <md-card class="group-card">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">What We Do</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-content>
            <p ng-hide="group.activities == null">Activities: {{group.activities[0]}} </p>
            <p>Descriptive Tags: </p>
            <md-chips>
              <md-chip ng-repeat="t in group.tags">{{t}}</md-chip>
            </md-chips>
            <br>
            <p>Technologies: </p>
            <md-chips>
              <md-chip ng-repeat="t in group.technologies">{{t}}</md-chip>
            </md-chips>
            <!-- <p>Technologies: {{group.technologies}}</p> -->
          </md-card-content>
      </md-card>
      </div>

      <div class="col-md-4">
        <md-card class="group-card">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Where We Meet</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media"></div>
            </md-card-title-media>
           </md-card-title>
          <md-card-content>
            <p>Meeting Location: {{group.location}}</p>
            <p>Meeting Frequency: {{group.freqOfMeeting}}</p>
            <p>Typical Meeting Size: {{group.sizeOfMeeting}}</p>
            <p>Membership Size: {{group.sizeOfMembership}}</p>
          </md-card-content>
      </md-card>

      </div>
    </div>
  </div>
</div>

<div id="group-button-div">
  <div ng-if="currentUser().admin || currentUser()._id === group.submitterID" class="editGroup">
    <md-button ng-click="toggleRight()"
      ng-hide="isOpenRight()"
      class="md-primary md-raised">
      Edit or Delete this group
    </md-button>
  </div>

  <!-- <p>Flags: {{groupFlags}}</p> -->
  <div id="flagDiv">
    <md-button class="md-fab md-raised flag-btn" ng-click="showConfirm()"><i class="fa fa-flag" aria-hidden="true"></i></md-button>
    <span>Flag This Group</span>
  </div>
</div>

<!--side Nav BAr for Editing Group  -->
<div layout="row" layout-fill ng-cloak >
<md-sidenav class="md-sidenav-right" md-component-id="right">
      <md-toolbar>
        <h1 class="md-toolbar-tools">Edit Your Group</h1>
      </md-toolbar>
      <md-content layout-padding >
        <section="row">
          <md-input-container class="md-block" flex-gt-sm input >
          <div>Name: <a href="#" editable-text="group.name">{{ group.name || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="description">
          <div>Desciption: <a href="#" editable-textarea="group.description" e-rows="7" e-cols="40">{{ group.description || 'empty' }}</a></div>
          </md-input-container>
          <br>

          <md-input-container input ng-model="groupURL">
          <div>Site: <a href="#" editable-text="group.groupURL" e-rows="7" e-cols="40">{{ group.groupURL || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="groupContact">
          <div>Group Contact: <a href="#" editable-text="group.groupContact" e-step="5">{{ group.groupContact || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="contactEmail">
          <div>Contact Email: <a href="#" editable-email="group.contactEmail"> {{ group.contactEmail || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="location">
          <div>Location: <a href="#" editable-text="group.location">{{ group.location || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="activities">
          <div>Activites: <a href="#" editable-text="group.activites">{{ group.activities || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="technologies">
          <div>Technologies: <a href="#" editable-text="group.technologies">{{ group.technologies || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="tags">
          <div>Tags: <a href="#" editable-text="group.tags">{{ group.tags || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="affiliations">
          <div>Affiliations: <a href="#" editable-text="group.affiliations">{{ group.affiliations || 'empty' }}</a></div>
          </md-input-container>

          <md-input-container input ng-model="affiliationURL">
          <div>AffiliationURL: <a href="#" editable-text="group.affiliationURL">{{ group.affiliationURL || 'empty' }}</a></div>
          </md-input-container>

          <!-- <md-input-container flex-gt-sm input ng-model="freqOfMeeting">
            <div>Frequency of Meeting:
              <a href="#" editable-select="group.freqOfMeeting" e-ng-options="options in statuses">
                {{ group.freqOfMeeting }}
              </a>
            </div>
          </md-input-container> -->

           <md-input-container >
            <div>Frequency of Meetings: <md-select ng-model="group.freqOfMeeting" placeholder="Frequency of Meeting">
              <md-option ng-repeat="option in freqOfMeetingArray">{{ option }}</md-option>
            </md-select></div>
          </md-input-container>

          <md-input-container >
            <div>Size of Meetings:<md-select ng-model="group.sizeOfMeeting" placeholder="Size of Meeting">
              <md-option ng-repeat="option in sizeOfMeetingArray">{{ option }}</md-option>
            </md-select></div>
          </md-input-container>

          <md-input-container >
            <div>Size of Membership: <md-select ng-model="group.sizeOfMembership" placeholder="Size of Membership">
              <md-option ng-repeat="size in sizeOfMembershipArray">{{ size }}</md-option>
            </md-select></div>
          </md-input-container>

        <div class="row">
            <md-button type="button" class="md-raised" name="button" ng-click="confirmDelete( group._id, $index )">Delete Group</md-button>
            <md-button type="button" class="md-raised" name="button" ng-click="edit(group._id, $index)">Save your edits</md-button>
        </div>

      </md-content>
      </section>
    </md-sidenav>
</div>
</div>
</div>
