<!-- <body> -->
<div>

<!-- <form class="form-horizontal" action="/test" type="post">
<fieldset>
<!Form Name -->
<legend>New Group Submission Form</legend>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="groupNameIn"> Group Name </label>
  <div class="col-md-4">
  <input id="groupNameIn" ng-model="groupNameIn" name="groupNameIn" type="text" placeholder="Group Name" class="form-control input-md" required="">
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="contactNameIn">Contact Name</label>
  <div class="col-md-4">
  <input id="contactNameIn" ng-model="contactNameIn" name="contactNameIn" type="text" placeholder="Name" class="form-control input-md" required="">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="contactEmail">Contact's Email: </label>
  <div class="col-md-4">
  <input id="contactEmail" ng-model="contactEmail" name="contactEmail" type="text" placeholder="Contact Email" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="description">Brief Description</label>
  <div class="col-md-4">
  <input id="description" ng-model="description" name="description" textarea rows="4" cols="50" placeholder="URL" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="groupUrlIn">Group URL</label>
  <div class="col-md-4">
  <input id="groupUrlIn" ng-model="groupUrlIn" name="groupUrlIn" type="text" placeholder="URL" class="form-control input-md" required="">
  </div>
</div>

<button type="button" name="button" ng-click=submit() >Submit Group</button>
</fieldset>
</form>
</div>
<div>
  <table>
  <thead>
   <tr>
     <th>Name</th>
     <th>URL</th>
     <th>Contact</th>
   </tr>
 </thead>
 <tbody>
   <tr ng-repeat="record in groups">

     <td>{{ record.groupName }}</td>
     <td>{{ record.groupURL }}</td>
     <td>{{ record.groupContact }}</td>
     <td> <input type="button" value="Remove" class="btn btn-primary" ng-click = "banana($index);"/> </td>
   </tr>
 </tbody>
</table>
</div>
<!-- </body> -->
