<div id="page-container" class="container-fluid">

  <div class="jumbotron">
    <h3>The Nerdery Foundation</h3>
      <h2>We connect technologists with the communities that need their talents.</h2>
  </div>

  <h3>{{techStr}}</h3>
    <md-content class="md-no-momentum">
      <md-input-container id="main-search" class="md-icon-float">
        <!-- Use floating label instead of placeholder -->
        <h4><label>Search</label></h4>
          <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"><i class="material-icons">search</i></md-icon>
        <input ng-model="filterStr" type="text">
      </md-input-container>

  <md-input-container id="tech-search" class="md-icon-float">
    <select class="form-control select-team" ng-model="tObj" data-ng-change="changeOverallTech(tObj)" >
      <label>Technology</label>
        <option value="">Technologies</option>
          <option ng-repeat="t in tech.Technologies track by $index" placeholder="Technologies" value="{{t.Technology}}" >{{t.Technology}}</option>
    </select>
  </md-input-container>

  <md-input-container id="location-search" class="md-icon-float">
    <select class="form-control" ng-model="locationStr">
      <label>Location: </label>
                    <option value="">Location</option>
                    <option ng-repeat="l in location track by $index" value="{{l}}" >{{l}}</option>
                  </select>
  </md-input-container>

  <md-input-container id="size-search" class="md-icon-float">
    <select class="form-control" ng-model="sizeStr">
      <label>Typical Meeting Size: </label>
                    <option value="">Meeting Size</option>
                    <option ng-repeat="s in typicalSize track by $index" value="{{s}}" >{{s}}</option>
                  </select>
  </md-input-container>
</md-content>

<div class="row">
  <div class="col-sm-3">
    <md-content class="md-padding">
      <md-card id="filter-box">
        <md-card-content>
          <h3>Filter: {{selectedTech}}</h3>
          <div ng-repeat="tech in tech.Technologies">
            <div ng-show="selectedTech == tech.Technology" ng-repeat="skill in tech.Skills track by $index">
              <md-checkbox
              value="{{skill.Skill}}" data-ng-click="changeTechStr(skill.Skill)" aria-label="Checkbox 1">
                <strong>{{skill.Skill}}</strong>
              </md-checkbox>
              <div class="sub" ng-show="selectedSubTech == skill.Skill" ng-repeat="sub in skill.Subskill track by $index">
                <md-checkbox
                value="{{sub}}" data-ng-click="changeSubTechStr(sub)" aria-label="Checkbox 1">
                  <strong>{{sub}}</strong>
                </md-checkbox>

              </div>
            </div>
          </div>
        <hr>
          <!-- <label>Biweekly</label><input  type="checkbox" data-ng-model="Biweekly" ng-true-value="{state: true, val: 'Biweekly'}"  data-ng-false-value="{state: false, val: 'Biweekly'}" ng-click="changeTechStr(Biweekly)"/><br/>
<label>Stuff</label><input  type="checkbox" ng-model="Stuff" ng-true-value="{state: true, val: 'Stuff'}"  data-ng-false-value="{state: false, val: 'Stuff'}" ng-click="changeTechStr(Stuff)"/><br/>
<p>{{Stuff}}</p>
<p>{{Biweekly}}</p> -->
          <!-- <fieldset class="standard">
            <md-checkbox ng-repeat="t in tech.Technologies"
            value={{t.Technology}} data-ng-click="changeTechStr(t.Technology)" aria-label="Checkbox 1">
              <strong>{{t.Technology}}</strong>
            </md-checkbox>
          </fieldset> -->
        </md-card-content>
      </md-card>
    </md-content>
    </div>
<!-- class="col-sm-4"  -->
    <div class="col-sm-9">
      <md-content layout="row" layout-wrap>
        <div flex="30" flex-sm="50" flex-xs="80" class="md-padding flip" ng-mouseenter="autoScroll = !autoScroll" ng-mouseleave="autoScroll = !autoScroll" ng-repeat="group in groups | multiWordFilter: techStr | filter: locationStr | filter: sizeStr | filter: filterStr track by $index">
          <div class="card" ng-class="autoScroll ? 'flipped' : ''">
          <a class="group-link" ng-href="/#/groups/{{group.name}}">
            <md-card class="group-tile md-whiteframe-6dp face front" ng-style="{'background-image':'url({{group.photoURL}})', 'background-size':'cover', 'background-position':'center'}" >

              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{group.name}}</span>
                </md-card-title-text>


                  <!-- <div class="md-media-sm card-media"> -->

              </md-card-title>

              <md-card-footer>

                <p>{{group.location}}</p>
                <p>{{group.freqOfMeeting}}</p>
              </md-card-footer>
              <!-- <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </md-card-actions> -->

            </md-card>
            <md-card class="group-tile md-whiteframe-6dp face back" ng-style="{'background-image':'url({{group.photoURL}})', 'background-size':'cover', 'background-position':'center'}">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">BACK</span>
                </md-card-title-text>


                  <!-- <div class="md-media-sm card-media"> -->

              </md-card-title>

              <md-card-footer>

                <p>{{group.location}}</p>
                <p>{{group.freqOfMeeting}}</p>
              </md-card-footer>
              <!-- <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
              </md-card-actions> -->

            </md-card>
            </md-card>
          </a>

        </div>
      </div>
        <!-- <h3 ng-show="(groups| multiWordFilter: techStr | filter: locationStr | filter: sizeStr | filter: filterStr).length == 0">Unfortunately, no local tech user groups fit your current criteria!</h3> -->
      </md-content>
    </div>

  </div>

  <!-- Pat here are some loops to get started with -->
  <!-- <div ng-repeat="tech in tech.Technologies">
    <input type="checkbox">{{tech.Technology}}
    <div ng-show="selectedTech == tech.Technology" ng-repeat="skill in tech.Skills">
      <input type="checkbox">{{skill.Skill}}
        <div ng-repeat="sub in skill.Subskills">
          <input type="checkbox">{{sub}}
        </div>
      </div>
  </div>

  <hr> -->
</div>
