<div id="page-container" class="container-fluid">

  <div class="jumbotron">
    <h1>Nerdery Foundation Developer Network</h1>
    <p>Connecting new and relocated developers to the local tech user groups.</p>
  </div>

  <md-content class="md-no-momentum">
  <md-input-container id="main-search" class="md-icon-float md-block">
    <!-- Use floating label instead of placeholder -->
    <label>Search</label>
    <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"><i class="material-icons">search</i></md-icon>
    <input ng-model="filterStr" type="text">
  </md-input-container>
</md-content>

<div class="row">
  <div class="col-sm-3">
    <md-content class="md-padding">
      <md-card id="filter-box">
        <md-card-content>
          <h2>Filter Groups: </h2>
          <fieldset class="standard">
            <md-checkbox ng-model="NET" aria-label="Checkbox 1">
              <strong>.NET</strong>
            </md-checkbox>
              <div ng-show="NET" >
                <md-checkbox aria-label="Checkbox 2">
                  Windows Communication Foundation
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Windows Forms
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Windows Phone
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Windows Presentation
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  WinRT/Windows 8
                </md-checkbox>
              </div>
            <md-checkbox ng-model="businessArch" aria-label="Checkbox 1">
              <strong>Business Architecture</strong>
            </md-checkbox>
            <md-checkbox ng-model="businessIntel" aria-label="Checkbox 1">
              <strong>Business Intelligence</strong>
            </md-checkbox>
            <md-checkbox ng-model="clientSide" aria-label="Checkbox 1">
              <strong>Client-Side</strong>
            </md-checkbox>
              <div ng-show="clientSide">
                <md-checkbox ng-model="accessibility" aria-label="Checkbox 2">
                  Accessibility
                </md-checkbox>
                <md-checkbox ng-model="analytics" aria-label="Checkbox 2">
                  Analytics
                </md-checkbox>
              </div>
              <div ng-show="accessibility">
                <md-checkbox aria-label="Checkbox 2">
                  ADA
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Section 508
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  WCAG
                </md-checkbox>
              </div>
              <div ng-show="analytics">
                <md-checkbox aria-label="Checkbox 2">
                  Fireclick
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Google Analytics
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Omniture
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  WebTrends
                </md-checkbox>
              </div>
            <md-checkbox ng-model="cms" aria-label="Checkbox 1">
              <strong>CMS</strong>
            </md-checkbox>
              <div ng-show="cms">
                <md-checkbox aria-label="Checkbox 2">
                  Ektron
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Kentico
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Sharepoint
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Sitecore
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Sitefinity
                </md-checkbox>
                <md-checkbox aria-label="Checkbox 2">
                  Umbraco
                </md-checkbox>
              </div>
          </fieldset>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-sm-9">
      <md-content class="md-padding">
        <div class="col-sm-4" ng-repeat="group in groups | filter: filterStr">
          <a ng-href="/#/groups/{{group.name}}">
            <md-card class="group-tile" >
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">{{group.name}}</span>
                  <span class="md-subhead">{{group.groupURL}}</span>
                </md-card-title-text>
                <md-card-title-media>
                  <div class="md-media-sm card-media"></div>
                </md-card-title-media>
              </md-card-title>
              <md-card-actions layout="row" layout-align="end center">
                <!-- <md-button>Action 1</md-button>
                <md-button>Action 2</md-button> -->
              </md-card-actions>
            </md-card>
          </a>

        </div>
      </md-content>
    </div>
  </div>

  <!-- {{tech}} -->
