<!--header/nav-bar -->
<header id="non-home">
  <div class="layerBack">
    <div class="navWrap">
      <div class = "navBar" ng-include="'/views/navBar.html'"></div>
      </div>
    </div>
</header>
<!-- login -->

<div class="container">

    <div class="row row-centered">
      <div class="col-md-6 col-md-offset-3"></div>
       <form class="form-signin">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
      		    <h1>WELCOME!<br />
                Add Your Group to The Network!</h1>
                  <p>
                  Anyone can log in with Google, Facebook, or Github
                  and submit a group for approval. <br /></p><br />
                    <div class="panel-body">
                      <a class="btn btn-social btn-lg active btn-google" ng-click="authenticate('google')">
                        <span class="fa fa-google"></span>Google</a>
                      <a class="btn btn-social btn-lg active btn-github" id="github-icon" ng-click="authenticate('github')">
                        <i class="fa fa-github"></i>GitHub</a>
                      <a class="btn btn-social btn-lg active btn-facebook" id="facebook-icon" ng-click="authenticate('facebook')">
                        <i class="fa fa-facebook"></i>Facebook</a>
                    </div>
            </div>


<!--ADMIN LOGIN IN _____________________________________  -->

<div class="clr"><hr /></div>
  <div class="form-group">
    <div class="checkbox-text"><h5>Admin for this Site?</h5><input type="checkbox" ng-model="admin">
      <i class="fa fa-lock" aria-hidden="true"></i></div>
        <div ng-show="admin">
          <form class="admin-signin">
            <div class="clr"><hr /></div>
              <div class="admin-text"></div>
                <input type="text" class="form-control" placeholder="Username" autofocus ng-model="username"><br />

                <input type="text" class="form-control"  placeholder="Email" autofocus ng-model="email"><br />

                <input type="password" class="form-control" placeholder="Password" autofocus ng-model="password"><br />

                <md-button class="btn md-button btn-info btn-block" ng-click="login()">Login</md-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
