

*{
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #664659;/*plum*/
  color: #fff; /*white*/
  min-height:100%;
  height:auto;
  }



#add-group {
  box-shadow: 2px 2px 4px #272727;
}

#add-group-banner {
  background-color: #353535;
  margin-bottom: 3px;
}

#add-group-banner {
  padding-left: 10px;
  color: #E2DE00;
}

#page-container {
  padding-bottom: 50px;
}

  .jumbotron {
      display: block;
      height:auto;
      width: 100%;
      text-align: center;

      background: url('https://static.pexels.com/photos/34676/pexels-photo-large.jpg') no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      position:relative;

  }
  .jumbotron h2{
    font-weight: bold;
    color:#E2DE00;
  }
  .jumbotron h1{
    color:#fff;
  }
/*Search Bar*/
container-fluid ng-scope{
  background-color: #664659
}
  #page-container {
    background-color: #664659;
  }

  .group-tile {
    color: white;
  }

  md-card-title-text {
    text-align: center;
  }

  md-card {
    border: 3px solid #664659;
    border-radius: 7px;
    background-color: turquoise;
    height: auto;
}

/*Landing Page*/
.flex {
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
    box-sizing: border-box;

}

.flex-20 {
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
      max-width: 20%;
      max-height: 100%;
  box-sizing: border-box;
}

.layout-row .flex-33 {
  -webkit-flex: 1 1 calc(100% / 3);
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
    box-sizing: border-box;
}

.layout-row  .flex-66 {
  -webkit-flex: 1 1 calc(200% / 3);
      -ms-flex: 1 1 calc(200% / 3);
          flex: 1 1 calc(200% / 3);
          box-sizing: border-box;
}

.layout-row .flex-33 {
  max-width: calc(100% / 3);
  max-height: 100%;
}

.layout-row  .flex-66 {
  max-width: calc(200% / 3);
  max-height: 100%;
}
.layout-column .flex-33 {
  max-width: 100%;
  max-height: calc(100% / 3);
}
.layout-column  .flex-66 {
  max-width: 100%;
  max-height: calc(200% / 3);
}

/*Search Bar*/
main-search {
  width: 75%;
}

/*filter-box {
  height: 100%;
}*/

/*Group Tiles*/
.group-tile {
  height: 300px;
  margin-left: 0;
  margin-right: 0;
}
/*checkboxes*/
md-checkbox {
  display: block;

}

.group-link,
.group-link:hover,
.group-link:active,
.group-link:focus {
  text-decoration: none;
  color: black;
}

.sub {
padding-left: 15px;
}
/*Group Landing Page*/

/*Group Edit Menu*/


.headline {
    padding: 120px 0;
}

.h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
.h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
