<nav class="navbar navbar-default">
  <a class="navbar-brand" href="/#/home">Nerdery Foundation</a>
  <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
    <li ng-if="currentUser().admin"><a href ="/#/admin">Dashboard</a></li>
    <li><a href ="/#/addGroup">Create A Group</a></li>
    <li ng-hide="isAuthenticated()"><a href ="/#/login">Login</a></li>
    <li ng-show="isAuthenticated()"><a>{{currentUser().username}}</a></li>
    <li ng-show="isAuthenticated()"><a href="#" ng-click="logout()">Logout</a></li>
  </ul>
</nav>
